
<div class="container">

<div class="m-auto mt-3">
    <h1 class="text-center" style="color: rgb(22, 22, 148);">Student Activities</h1>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    
    <!-- ============== -->
    <div class="col-md-12 ">
        <div class="card shadow-sm ">
            <img src="../../assets/img/WhatsApp Image 2023-02-06 at 15.28.03.jpeg" alt="" class="card-img-top">
            <div class="card-body">
                <h4>Reading Club.</h4>
                <p class="card-text">
                    رجعنا لكم تاني بعد فتره الامتحانات💔🙄
ده دور محبي القراءه جاينلكم بنادي القراءه و النقد الادبي🤓❤️
هنستغل الاجازه الصغيره دي قبل عوده الدراسه و الامتحانات 💔😔
هنختار كل فتره كتاب أو روايه نقرئها وبعد كده كل واحد هيقولنا نقده فيه و هنبدا نتبادل أفكارنا و صاحب افضل نقد هيتم تكريمه❤️
سجل معانا و انتظر تفاصيل اكتر في الجروب الي هنتجمع فيه 😌❤️
https://forms.gle/GrLHxPLX3C9uHgoN8
اخر معاد للتسجيل يوم الجمعه الساعه 10 مساء😌❤️
#اللجنه_الثقافيه
#اتحاد_2022
                </p>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="btn-group">
                        <button class="btn btn-outline-primary btn-sm"><a href="https://www.facebook.com/profile.php?id=100067424630144&mibextid=ZbWKwL" class=" text-decoration-none" target="_blank">more info</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- ============== -->
    <div class="col-md-12">
        <div class="card shadow-sm">
            <img src="../../assets/img/WhatsApp Image 2023-02-06 at 15.31.38.jpeg" alt="" class="card-img-top">
            <div class="card-body">
                <h4>Media.</h4>
                <p class="card-text">
                    Are you the one?

لو حابب العمل التطوعي ومهتم بكتابة المحتوي أو المونتاج أو التصميم🎨 بس مش لاقي نفسك في لجان الاتحاد... اهلا بيك في اللجنة الإعلامية.📷

واللي ميعرفش احنا بنعمل ايه بالظبط.... فاللجنة مسؤلة عن اي محتوي بينزل علي صفحة الإتحاد وتوثيق اي نشاط و السنة دي بإذن الله هنعمل ورش تعليم في الكتابة والتصميم.

طب انت هتستفاد ايه؟.... اول حاجة لو انت حابب اي مجال من المجالات دي بس مش عارف تبدأ منين أو تستمر ازاي احنا هنساعدك وهنوجهك وهتبقي وسط مجتمع عنده نفس الأهتمام وهنتبادل الخبرات ونستفاد كلنا.✅
#اللجنة_الإعلامية
#إتحاد_2023
                </p>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="btn-group">
                        <button class="btn btn-outline-primary btn-sm"><a href="https://www.facebook.com/profile.php?id=100067424630144&mibextid=ZbWKwL" class=" text-decoration-none" target="_blank">more info</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ============== -->
    <div class="col-md-12">
        <div class="card shadow-sm">
            <img src="../../assets/img/WhatsApp Image 2023-02-06 at 15.35.42.jpeg" alt="" class="card-img-top">
            <div class="card-body">
                <h4>Mathematics.</h4>
                <p class="card-text">
                    بعد ما كلمناكم عن التسويف جايين نكلمكم عن تنظيم وقتكم. 🤝
                    في الفترة دى كلنا محتاجين عدد ساعات اليوم تتضرب X2 عشان نعرف ننجز كمية المحاضرات اللى المفروض نلمها.
                    طيب ايه رأيك بقى انك هتنجز المحاضرات دى كلها من غير متتضرب عدد ساعات اليوم... كل اللى عليك إنك تنظم وقتك وهقولك بقى اهم النقاط لتنظيم الوقت.👌
                    1- أعمل نوت حدد فيها هدفك وخطتك لليوم.
                    2- شوف وقتك بيضيع في ايه وحاول تقلل الحاجة اللي بتضيعلك وقتك.. زي التليفون مثلآ. 
                    3- اعرف حدود طاقتك... شوف انت بتقدر تستوعب كم أد ايه ووقت أد ايه.
                    4- شوف نفسك بتكون فايق ومركز امتى وخليه وقت اساسي للمذاكرة.
                    5- ظبط مواعيد نومك ونام كويس عشان لو نمت قليل فدا بيقلل من قدرتك ع التركيز والمحاضرة اللى هتاخد ساعة ممكن تاخد ساعتين وممكن متستوعبهاش. 🙂
                    6- اعزل نفسك وقت المذاكره عن أى مشتتات يعنى متقولش هذاكر وانت حاطط الموبايل جمبك انت كدا بتضحك على نفسك وفي برامج ممكن تساعدك انك تبعد الموبايل عنك.
                    7- خد بريك بين كل انجاز وحدد وقت معين للمذاكره يعنى مثلا حدد من الساعه ٨ ل ١٠ هذاكر  كذا وبعدين خد بريك وحدد وقت للمهمة اللي بعدها وهكذا.....
                    8- شجع نفسك بالمكافئات بعد كل مهمة تخلصها.
                    
                    ولو عملت كل دا فانت مش بس هتنظم وقتك دا انت كمان هتنجز ف وقت قصير المطلوب منك وكمان هتحس  بالتفاؤل والراحة وهتتخلص من الطاقه السلبية المنتشره ف فتره الامتحانات وهتبقي مستعد.💯
                    
                    #اللجنة_العلمية
                    #معاكفيالفاينل
                    #اتحاد_2023
                </p>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="btn-group">
                        <button class="btn btn-outline-primary btn-sm"><a href="https://www.facebook.com/profile.php?id=100067424630144&mibextid=ZbWKwL" class=" text-decoration-none" target="_blank">more info</a></button>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
  <!-- ============== -->
  <div class="col-md-12">
    <div class="card shadow-sm">
        <img src="../../assets/img/WhatsApp Image 2023-02-06 at 15.30.48.jpeg" alt="" class="card-img-top">
        <div class="card-body">
            <h4>Sports.</h4>
            <p class="card-text">
                توقع نتيجة مباراة القمة بين الاهلي vs الزمالك ⚽️

صاحب التوقع الصحيح هيكسب معانا تيشرت عليه الطباعة اللي يختارها🏅

اخر معاد للتوقع والمشاركة قبل انطلاق المبارة.

#اللجنه_الرياضية
#اتحاد_2023
            </p>
            <div class="d-flex align-items-center justify-content-between">
                <div class="btn-group">
                    <button class="btn btn-outline-primary btn-sm"><a href="https://www.facebook.com/profile.php?id=100067424630144&mibextid=ZbWKwL" class=" text-decoration-none" target="_blank">more info</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- ============== -->
    <div class="col-md-12">
        <div class="card shadow-sm">
            <img src="../../assets/img/WhatsApp Image 2023-02-06 at 15.37.59.jpeg" alt="" class="card-img-top">
            <div class="card-body">
                <h4>Statistics</h4>
                <p class="card-text">
                    ستكمالا للعظمه جايين النهارده بعظمه ع الماشي 😂♥️⚜️ إتمام دوره الأزمات و الكوارث (التخيم _ الإسعاف _الانقاذ ) و كانت الدوره تحت قياده : ق محمد علي قائد عشيره جواله كليه العلوم و نبارك لقاده العشيره علي اجتيازهم الدوره وانتظرونا ف القادم ♥️⚜️
#عشيرهجوالهكليه_العلوم
#اتحاد_2022
                </p>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="btn-group">
                        <button class="btn btn-outline-primary btn-sm "><a href="https://www.facebook.com/profile.php?id=100067424630144&mibextid=ZbWKwL" class=" text-decoration-none" target="_blank">more info</a></button>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>

    <!-- ============== -->
 
</div>
</div>